@page
@model IEnumerable<Emlak.Entities.Portfoy>

@{
    ViewData["Title"] = "Portfoyler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portfoyler</h2>

<table class="table">
    <thead>
        <tr>
            <th>Portfoy ID</th>
            <th>Portfoy Tipi</th>
            <th>Portfoy Adresi</th>
            <th>Metrekare Alanı</th>
            <th>Portfoy Durumu</th>
            <th>Portfoy Tutarı</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var portfoy in Model)
        {
            <tr>
                <td>@portfoy.PortfoyID</td>
                <td>@portfoy.PortfoyTipi</td>
                <td>@portfoy.PortfoyAdres</td>
                <td>@portfoy.MetrekareAlan</td>
                <td>@portfoy.PortfoyDurumu</td>
                <td>@portfoy.PortfoyTutar</td>
            </tr>
        }
    </tbody>
</table>
