@page
@using Emlak.WebUI.Components;
@model IEnumerable<Emlak.Entities.Portfoy> 

<h2>Portföyler</h2>

<!-- Arama ve filtreleme alanı -->
<div>
    <form method="get">
        <div class="form-group">
            <input type="text" name="searchString" placeholder="Arama yap..." class="form-control" />
        </div>
        <div class="form-group">
            <select name="option" class="form-control">
                <option value="">Tüm Seçenekler</option>
                <!-- Filtreleme seçenekleri buraya eklenir -->
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Ara</button>
        </div>
    </form>
</div>

<!-- Portföy listesi -->
<table class="table">
    <thead>
        <tr>
            <th>Portföy ID</th>
            <th>Özellikler</th>
            <th>M²</th>
            <th>Detay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var portfoy in Model)
        {
            <tr>
                <td>@portfoy.PortfoyID</td>
                <td>@portfoy.PortfoyTipi</td>
                <td>@portfoy.MetrekareAlan</td>
                <td><a asp-controller="Portfoy" asp-action="Detaylar" asp-route-id="@portfoy.PortfoyID">Detay</a></td>
            </tr>
        }
    </tbody>
</table>
@(await Component.InvokeAsync<PagerViewComponent>(Model))
<!-- Sayfalama işlemi -->

