@page
@model Portfoy

@{
    ViewData["Title"] = "Portföylerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portföylerim</h2>
<div>
    <p>Portföy Tipi = <span asp-for="PortfoyTipi"></span></p>
    <p>Portföy Adresi = <span asp-for="PortfoyAdres"></span></p>
    <p>M² = <span asp-for="MetrekareAlan"></span></p>
    <p>Portföy Durumu = <span asp-for="PortfoyDurumu"></span></p>
    <p>Tutarı = <span asp-for="PortfoyTutar"></span></p>
    <p>Açıklama = <span asp-for="PortfoyAciklama"></span></p>
</div>

<button type="button" id="showUpdateForm">Bilgileri Güncelle</button>

<form asp-controller="PortfoyumController" asp-action="NewProtfoy" method="post" style="display: none;">
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <label for="PortfoyTipi">Portfoy Tipi:</label>
        <input class="form-control" asp-for="PortfoyTipi" value="@Model.PortfoyTipi">
    </div>
    <div class="form-group">
        <label for="PortfoyAdresi">PortfoyAdresi:</label>
        <input class="form-control" asp-for="PortfoyAdres" value="@Model.PortfoyAdres">
    </div>
    <div class="form-group">
        <label for="PortfoyAlan">M²:</label>
        <input class="form-control" asp-for="MetrekareAlan" value="@Model.MetrekareAlan">
    </div>
    <div class="form-group">
        <label for="PortfoyDurumu">Portfoy Durumu:</label>
        <input class="form-control" asp-for="PortfoyDurumu" value="@Model.PortfoyDurumu">
    </div>
    <div class="form-group">
        <label for="Tutar">Tutarı:</label>
        <input class="form-control" asp-for="PortfoyTutar" value="@Model.PortfoyTutar">
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
    <tbody>
        <tr>
            <td><span asp-for="PortfoyTipi"></span></td>
            <td><span asp-for="PortfoyAdres"></span></td>
            <td><span asp-for="MetrekareAlan"></span></td>
            <td><span asp-for="PortfoyDurumu"></span></td>
            <td><span asp-for="PortfoyTutar"></span></td>
            <td><span asp-for="PortfoyAciklama"></span></td>
            <td>
                <a asp-controller="Portfoyum" asp-action="Edit" asp-route-id="@Model.PortfoyID">Düzenle</a> |
                <a asp-controller="Portfoyum" asp-action="Delete" asp-route-id="@Model.PortfoyID">Sil</a>
            </td>
        </tr>
    </tbody>
</table>
