@model Calisan
@{
    ViewData["Title"] = "Profilim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Calisan Profil Index</h4>

<h2>Profilim</h2>

<div>
    <p>Adı Soyadı: @Model.IsimSoyisim</p>
    <p>Telefon Numarası: @Model.GSM</p>
    <p>Telefon Numarası 2: @Model.GSM2</p>
    <p>E-posta: @Model.Mail</p>
    <p>E-posta 2: @Model.Mail2</p>
</div>

<!-- Güncelleme Formu -->
<button type="button" id="showUpdateForm">Bilgileri Güncelle</button>

<form asp-controller="CalisanProfil" asp-action="UpdateProfile" method="post" style="display: none;">
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <label for="IsimSoyisim">Ad Soyad:</label>
        <input class="form-control" asp-for="IsimSoyisim" value="@Model.IsimSoyisim">
    </div>
    <div class="form-group">
        <label for="KullaniciAdi">Kullanıcı Adı:</label>
        <input class="form-control" asp-for="KullaniciAdi" value="@Model.KullaniciAdi">
    </div>
    <div class="form-group">
        <label for="KullaniciSifre">Şifre:</label>
        <input class="form-control" asp-for="KullaniciSifre" value="@Model.KullaniciSifre">
    </div>
    <div class="form-group">
        <label for="Telefon">Telefon Numarası:</label>
        <input class="form-control" asp-for="GSM" value="@Model.GSM">
    </div>
    <div class="form-group">
        <label for="Telefon2">Telefon Numarası 2:</label>
        <input class="form-control" asp-for="GSM2" value="@Model.GSM2">
    </div>
    <div class="form-group">
        <label for="Email">E-posta:</label>
        <input class="form-control" asp-for="Mail" value="@Model.Mail">
    </div>
    <div class="form-group">
        <label for="Email2">E-posta 2:</label>
        <input class="form-control" asp-for="Mail2" value="@Model.Mail2">
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>

<script>
    var updateForm = document.querySelector("form");
    var showUpdateFormButton = document.getElementById("showUpdateForm");

    showUpdateFormButton.addEventListener("click", function () {
        updateForm.style.display = "block";
        showUpdateFormButton.style.display = "none";
    });
</script>
